h1 {
    color: grey;
    text-align: center;
}

h2 { 
    color: black;
    text-align: center;
}

h3 {
    color: cornflowerblue;
    text-align: center;
}
p {
    color: black;
    text-align: center;
}

p {
    color: black;
    text-align: center;
}